body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cffcff;
}
h1{
    color: teal;
}
label{
    display: inline-block;
    width: 150px;
    margin-bottom: 20px;
}
input[type='text'], input[type='email']{
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 5px solid white;
}

.container{
    width: 600px;
    background-color: #aaefdf;
    padding: 0px 20px 50px 25px;
    border-radius: 10px;
    margin-top: -200px;
}
.myform{
    background-color: #9EE37D;
    margin: 0px -20px -50px -25px;
    padding: 20px;
    border-radius: 10px;
}

#submit {
    width: 80px;
    height: 25px;
    font-size: 15px;
    margin-left: 155px;
    padding: 4px;
    border: None;
    border-radius: 4px;
}
.container-thanks{
    width: 800px;
    background-color: #aaefdf;
    padding: 0px 20px 20px 25px;
    border-radius: 10px;
    margin-top: -200px;
}

#return{
    width: 80px;
    height: 25px;
    font-size: 15px;
    padding: 4px;
    border: None;
    border-radius: 4px;
}